<launch>
  <arg name="use_sim_time" default="true" />
  <arg name="gui" default="true" />
  <arg name="headless" default="false" />
  <arg name="world_name" default="$(find jackal_gazebo)/worlds/cloister.world" />

  <!-- Short-term hack to support the original front_laser:=true argument for spawning
       the simulator. This will be removed in favour of using the config:=x arg instead. -->
  <arg name="front_laser" default="true" />
  <arg name="default_config" value="front_laser" if="$(arg front_laser)" />
  <arg name="default_config" value="base" unless="$(arg front_laser)" />
  <!-- end of hack -->

  <!-- Configuration of Jackal which you would like to simulate.
       See jackal_description for details. -->
  <arg name="config" default="$(arg default_config)" />

  <!-- Optionally enable teleop for the simulation -->
  <arg name="joystick" default="true" />

  <!-- Launch Gazebo with the specified world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="debug" value="0" />
    <arg name="gui" value="$(arg gui)" />
    <arg name="use_sim_time" value="$(arg use_sim_time)" />
    <arg name="headless" value="$(arg headless)" />
    <arg name="world_name" value="$(arg world_name)" />
  </include>

  <!-- Spawn Jackal -->

  <group ns="/robot_1">
      <include file="$(find jackal_gazebo)/launch/spawn_jackal.launch">
        <arg name="x" value="0" />
        <arg name="y" value="0" />
        <arg name="z" value="0.0" />
        <arg name="yaw" value="0" />
        <arg name="config" value="$(arg config)" />
        <arg name="joystick" value="$(arg joystick)" />
        <arg name="robot_name" value="robot_1"/>
      </include>
      <include file="$(find jackal_navigation)/launch/include/multi_map_move.launch">
        <arg name="robot_name" value="robot_1"/>
      </include> 
  </group>
    
    
  <!-- <group ns="/robot_2">
      <param name="tf_prefix" value="robot_2" />
      <include file="$(find jackal_gazebo)/launch/spawn_jackal.launch">
        <arg name="x" value="1.0" />
        <arg name="y" value="0" />
        <arg name="z" value="0.0" />
        <arg name="yaw" value="0" />
        <arg name="config" value="$(arg config)" />
        <arg name="joystick" value="$(arg joystick)" />
        <arg name="robot_name" value="robot_2"/>
      </include>
      <include file="$(find jackal_navigation)/launch/include/multi_map_move.launch">
        <arg name="namespace" value="robot_2"/>
      </include> 
  </group> -->


  <!-- transformation between robots-->
  <node pkg="tf" type="static_transform_publisher" name="robot2_to_robot1" args="1.0 0 0 0 0 0 /robot_1/map /robot_2/map 10" />

  <!-- Map megring (know inital position case)-->
  <!-- <group ns="/robot_1/map_merge">
    <param name="init_pose_x" value="0.0"/>
    <param name="init_pose_y" value="0.0"/>
    <param name="init_pose_z" value="0.0"/>
    <param name="init_pose_yaw" value="0.0"/>
  </group>
  <group ns="/robot_2/map_merge">
    <param name="init_pose_x" value="1.0"/>
    <param name="init_pose_y" value="0.0"/>
    <param name="init_pose_z" value="0.0"/>
    <param name="init_pose_yaw" value="0.0"/>
  </group>
  <include file="$(find rrt_exploration)/launch/map_merge.launch"/> -->


  <!-- 启动rviz -->
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find jackal_navigation)/rviz/multi.rviz"/>


</launch>